[build]
  publish = "."

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

# Handle SPA routing (optional)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200